* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
   background-image: url("../images/abstract.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page-container{
  position: relative;
  min-height: 100%;
}


:root {
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Playfair ,Display", serif;
  --primary-color: #daae3e;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--heading-font-family);
}

img.logo {
  height: 120px;
  width: 120px;
  margin: 0px 50px;
  cursor: pointer;
}

nav.navBar{
  margin-top: -85px;
  padding: 0;

}

nav ul {
  list-style: none;
  font-family: var(--default-font-family);
}

nav ul li {
  display: inline-block;
  margin: 15px 30px;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #000000;
  position: relative;
}

nav a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #daae3e;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 100ms ease-in-out;
  pointer-events: none;
}

.container{
  padding: 30px 60px;
  text-align: center;
}

nav a:hover::after,
nav a:focus::after {
  opacity: 1;
}

.myBtn {
  padding: 15px 35px;
  width: 30%;
  margin-top: 20px;
  margin: 0 15px;
  border-radius: 1.5rem;
  border: none;
  background: #daae3e;
}

.myProducts{
  padding: 15px 15px ;
  width: 30% ;
  border-radius: 1.5rem;
  border: none;
  background: var(--primary-color);
  margin-top:-15px;

}



a.myBtn{
text-decoration: none;
color: #000;
font-size: 22px;
font-family: var(--default-font-family);

}


.myBtn:hover{
background:#6d8388;
}


.myskincare{
  font-size: 20px;
  font-family: var(--heading-font-family);
  color:#daae3e ;
  margin-top: 60px;
  padding: 0 30px;
  
}


p{
  font-family: var(--default-font-family);
  font-size: 20px;
}



img .products{
  margin: 25px 35px;
  padding: 0 10px;
}

ul li{
  list-style: none;
  font-size: 20px;
  font-family: var(--default-font-family);
}


.paragraph{
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}


.main{
  line-height: 1.5;
  font-family: var(--default-font-family);
  padding: 0 25px;
}



img.image1{
  max-width: 100%;
  max-height: 85%;
  padding: 0px 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}


.hero{
  background: var(--primary-color);
  padding: 100px 20px;
}



.about{
  position: relative;
  bottom: -60px;
  text-align: center;
}

.about-heading{
  font-family:"Charm", cursive;
  font-weight: bold;
  font-size: 20px;
}

.aboutUs{
  font-family:"Charm", cursive;
  font-weight: bold;
}

 img.products{
  width: 500px;
  height: 500px;
  overflow: hidden;
}


.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


 .footer-col{
  text-align: center;
  position: relative; 
   background: #6d8388;
  width:100%;
  bottom: 0;
  width:100%;
  padding-bottom: 0.5rem; 
  
}

.updates{
  margin-right: 18.5%
}

.myUpdate{
  margin-right: 18.5%;
  padding-top: 25px ;
}

.sign-up{
  margin-right: 18.5%;
  padding-top: 25px;
}

 .search-form{
  width: 40%;
  padding: 15px 15px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: var(--default-font-family);
 }


 .search-bar{
  margin: 25px 0;
 }


 .submit-input{
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  margin: 0 10px;
  font-size: 20px;
  font-family: var(--default-font-family);
 }

.submit-input:hover{
background:#898259;
}

.social-icons{
  color: var(--primary-color);
  margin: 0 15px;
  font-size: 25px;
}

.social-icons:hover{
color: #898259;
transition: 100ms ease-in-out;
}

.contact-container{
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.myContact{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

}

.contact-title h2{
  font-weight: 600;
  color: #daae3e;
  font-size: 35px;
  margin-bottom: -10px;
}

.contact-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background: #2f3d1b;
  border-radius: 10px;
  margin-bottom: 20px;

}

.contact-input{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #6d8388;
  border-radius: 50px;
  font-family: var(--default-font-family);
}

.myContact textarea{
  height: 140px;
  padding-top: 15px ;
  border-radius: 20px ;
}

.contact-input:focus{
  border: 2px solid #daae3e  ;
}

.contact-input::placeholder{
  color: #a9a9a9;
}

.myContact button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 18px;
  font-family: var(--default-font-family);
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: #6d8388;
  color: #000 ;
  cursor: pointer;

}

.myContact button:hover{
  background: #daae3e;
  color: #fff;
}
  
  
 

